/*
Custom MatBlazor Styles for CHARTS
https://www.matblazor.com/
https://blazorfiddle.com/s/twatwvd0
FLHealthCHARTS.gov
*/
/* Default Theme Overrides */
:root {
  --mdc-theme-primary: #00a0af !important;
  --mdc-theme-secondary: #f68e1e !important;
}
/* Main Nav Desktop */
body:has(.mdc-tab--active:not(:first-of-type)), body:has(.mdc-drawer-app-content .nav-btn-hide) {
  overflow-y: hidden; /* prevent double scroll bars */
}
.topbar {
  background-color: #eee;
  color: #069;
  display: flex;
  justify-content: flex-end;
  height: 40px;
  width: 100%;
  font-size: 0.9em;
  padding: 0.5em 1em;
  margin: 0 auto;
}
.menubar {
  display: flex;
  height: 60px;
  min-width: auto;
  position: relative;
}
.mdc-tab-scroller {
  flex: 1;
}
.mdc-tab-scroller__scroll-content {
  flex-wrap: wrap;
  width: 100%;
}
.nav-drawer-container:has(.topbar-scrolled) {
  top: -40px;
}
.nav-drawer-container {
  background-color: #fff;
  font-family: "Open Sans", arial, helvetica, sans-serif !important;
  position: fixed !important;
  top: 0;
  transition: all 0.3s;
  z-index: 100;
}
.nav-drawer-container:has(.mdc-tab--active:not(:first-of-type)) .nav-tabgroup-container {
  min-height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  position: fixed;
  top: 0;
}
.nav-drawer-container, .nav-drawer-container .nav-tabgroup-container, .nav-drawer-container .nav-tabgroup-container .mat-tab-group-content, #hero {
  width: 100%;
}
.mdc-tab-bar .mdc-tab, .mdc-drawer-app-content > div {
  height: 60px;
}
.nav-drawer-container a.flhc {
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 2669.46 479.67' style='enable-background:new 0 0 2669.46 479.67;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%2300B3CB;%7D .st1%7Bfill:%23FAA82A;%7D%0A%3C/style%3E%3Cg%3E%3Cg%3E%3Cpath class='st0' d='M1526.78,403.26c-72.32,0-114.24-70.54-114.24-145.79c0-75.24,44.68-145.78,114.24-145.78 c38.69,0,65.41,13.17,90.74,40.44l-33.17,34.8c-15.19-17.87-29.48-24.92-52.51-24.92c-43.76,0-64.02,47.97-64.02,95.46 c0,47.5,21.18,95.47,64.02,95.47c23.03,0,39.15-10.35,52.51-28.22l33.17,38.09C1592.19,390.09,1565.47,403.26,1526.78,403.26z'/%3E%3Cpath class='st0' d='M1764.13,398.54v-118.5h-88.44v118.5h-54.35V116.39h54.35V230.2h88.44V116.39h54.35v282.16H1764.13z'/%3E%3Cpath class='st0' d='M2005.16,405.13l-18.88-59.25h-95.36l-18.87,59.25l-54.36-13.63l98.57-275.12h44.23l99.03,275.12 L2005.16,405.13z M1938.37,193.99l-32.7,103.46h65.4L1938.37,193.99z'/%3E%3Cpath class='st0' d='M2210.72,405.13l-81.53-104.86h-15.66v98.28h-54.35V116.39h70.93c52.98,0,102.72,36.22,102.72,90.29 c-0.46,36.68-21.19,65.84-50.21,79.95l74.63,90.76L2210.72,405.13z M2130.12,164.83h-16.58v87.01h16.58 c26.72,0,47.45-19.28,47.45-43.75C2177.57,184.11,2160.06,164.83,2130.12,164.83z'/%3E%3Cpath class='st0' d='M2341.72,166.71v231.83h-54.35V166.71h-69.1v-50.32h192.54v50.32H2341.72z'/%3E%3Cpath class='st0' d='M2476.8,403.26c-31.32,0-60.8-11.29-81.99-37.62l34.54-39.5c11.51,17.87,30.41,29.62,48.83,29.62 c18.43,0,35.94-13.64,35.94-34.79c0-18.35-15.67-28.7-37.78-41.39l-22.11-12.7c-28.09-15.52-54.82-38.56-54.82-79.95 c0-45.14,42.39-75.24,87.53-75.24c26.71,0,52.97,8.47,72.32,29.63l-31.78,35.74c-10.6-11.76-24.88-18.81-38.69-18.81 c-19.35,0-35.47,11.28-35.47,28.68c0,16.46,13.81,24.92,36.38,37.63l22.11,12.7c30.86,17.4,56.2,43.26,56.2,82.29 C2568.01,367.99,2527.48,403.26,2476.8,403.26z'/%3E%3C/g%3E%3Cg%3E%3Cpath class='st0' d='M155.81,166.71v63.49h78.77v49.84h-78.77v118.5h-54.35V116.39h137.73v50.32H155.81z'/%3E%3Cpath class='st0' d='M249.89,398.54V116.39h54.35v231.85h94.9v50.31H249.89z'/%3E%3C/g%3E%3Cg%3E%3Cpath class='st1' d='M555.09,398.54v-118.5h-88.43v118.5h-54.36V116.39h54.36V230.2h88.43V116.39h54.36v282.16H555.09z'/%3E%3Cpath class='st1' d='M720.57,357.17c20.27,0,38.24-10.81,46.99-21.63l29.93,30.1c-11.97,15.05-37.3,39.03-81.53,39.03 c-63.57,0-94.9-55.02-94.9-114.27c0-61.14,40.54-114.28,100.43-114.28c41.91,0,78.3,24.92,78.3,63.01 c0,52.67-54.36,79.48-124.83,78.07C680.96,343.52,696.63,357.17,720.57,357.17z M752.36,242.89c0-12.69-11.51-22.11-29.49-22.11 c-26.24,0-45.14,23.04-49.75,55.03C729.33,272.99,752.36,260.77,752.36,242.89z'/%3E%3Cpath class='st1' d='M958.4,405.13c-2.77-1.87-17.97-19.27-23.49-27.74c-5.07,7.05-28.55,27.28-61.74,27.28 c-44.68,0-75.07-27.75-75.07-70.54c0-46.56,38.24-71.95,94.43-71.95c10.13,0,22.58,0,22.58,0c0-24.92-10.14-39.97-31.79-39.97 c-17.5,0-33.62,7.05-40.53,11.27l-20.73-38.08c7.83-5.64,35.01-19.28,64.03-19.28c55.73,0,81.53,35.74,81.53,83.71v46.09 c0,31.04,11.06,52.68,35,71.48L958.4,405.13z M892.52,299.32c-28.09,0-40.99,15.06-40.99,32.93c0,21.63,15.2,31.5,28.55,31.5 c24.42,0,38.69-23.97,38.69-23.97c-0.91-5.65-2.75-17.41-3.22-26.81c0-3.29-0.46-11.29-0.46-13.64 C915.1,299.32,893.91,299.32,892.52,299.32z'/%3E%3Cpath class='st1' d='M1006.88,398.54V74.07h52.51v324.48H1006.88z'/%3E%3Cpath class='st1' d='M1162.71,231.61v74.76c0,31.05,11.05,52.67,35.01,71.48l-44.23,27.75c-30.4-28.21-43.29-56.89-43.29-99.23 v-74.76h-40.08v-49.38h40.08v-65.84h52.51v65.84h41.92v49.38H1162.71z'/%3E%3Cpath class='st1' d='M1337.41,398.54v-140.6c0-20.23-8.74-32.92-26.25-32.92c-30.41,0-45.61,36.68-45.61,36.68v136.84h-52.51 V74.07h52.51v133.55c3.69-6.11,26.26-33.86,61.27-33.86c29.93,0,63.11,20.7,63.11,67.25v157.53H1337.41z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 167px;
  cursor: pointer;
  display: flex;
  align-self: center;
  width: 170px;
  height: 50px;
  margin-right: 0.75em;
  margin-left: 0.75em;
  outline: none;
  text-decoration: none;
}
.nav-drawer-container .mdc-tab-bar {
  background-color: #fff;
  display: flex;
  flex-wrap: nowrap;
  justify-content: start;
}
.nav-drawer-container .mdc-tab-bar .mdc-tab {
  max-width: max-content;
}
.nav-drawer-container .mdc-tab-bar, .mdc-drawer-app-content > div {
  box-shadow: 0 1px 5px rgba(0, 102, 153, .25);
}
.nav-tabgroup-container span.mdc-tab__text-label {
  color: #006699;
  font-family: "Open Sans", sans-serif;
  font-size: 0.99em;
  font-weight: 500;
  letter-spacing: normal;
  text-transform: capitalize;
  -webkit-text-stroke: 0.01em #006699;
  z-index: initial;
}
.nav-tabgroup-container .mdc-tab-indicator .mdc-tab-indicator__content--underline {
  border: none;
}
.nav-tabgroup-container .mdc-tab-indicator .mdc-tab-indicator__content--underline::after {
  content: "";
  background-color: #ffa927;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0.2em;
  transition: 0.2s all ease;
  visibility: hidden;
}
.nav-tabgroup-container .mdc-tab-indicator--active .mdc-tab-indicator__content--underline::after {
  width: 100%;
  transition-delay: 0.1s;
  visibility: visible;
}
.nav-tabgroup-container .nav-list {
  margin-top: 2em;
}
.nav-tabgroup-container .nav-list h4, .nav-tabgroup-container .nav-list ul {
  margin-left: 0.75em !important;
}
.nav-tabgroup-container .mdc-tab-bar .mdc-tab {
  flex: 1;
  min-width: 100px;
}
/* Close Active Tab - Default Tab Over Active Tab */
.nav-tabgroup-container .mdc-tab:first-of-type {
  display: flex;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100px;
  z-index: 100;
}
.nav-tabgroup-container .mdc-tab--active:first-of-type {
  display: none;
}
.nav-tabgroup-container .mdc-tab-bar:has(.mdc-tab--active:nth-child(3)) .mdc-tab:first-of-type {
  left: 195px;
}
.nav-tabgroup-container .mdc-tab-bar:has(.mdc-tab--active:nth-child(4)) .mdc-tab:first-of-type {
  left: 295px;
  min-width: 160px;
}
.nav-tabgroup-container .mdc-tab-bar:has(.mdc-tab--active:nth-child(5)) .mdc-tab:first-of-type {
  left: 455px;
  min-width: 150px;
}
.nav-tabgroup-container .mdc-tab-bar:has(.mdc-tab--active:nth-child(6)) .mdc-tab:first-of-type {
  left: 605px;
  min-width: 115px;
}
/* Main Nav Mobile */
.nav-drawer-container >:not(.nav-tabgroup-container) a.flhc {
  position: absolute;
  top: 0.15em;
  right:0;
  bottom:0;
  left: 1em;
}
.nav-drawer-container button {
  background-color: #fff;
  color: #006699 !important;
  letter-spacing: 0.01em !important;
  margin-top: 0.75em;
  margin-left: 0.75em;
  text-transform: capitalize !important;
  transition: 0.5s all ease;
}
.nav-drawer-container button:hover {
  background-color: #ecf1f7 !important;
}
.nav-drawer-container button:focus, .nav-drawer-container button:focus-visible {
  outline: none;
}
.nav-btn-hide, .nav-btn-open {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23006699' stroke='%23006699' stroke-linecap='round' stroke-miterlimit='10' stroke-width='.8' viewBox='0 0 16 16'%3E%3Cpath d='M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: top left;
  height: 20px;
  padding-left: 1.35rem;
}
.nav-btn-open {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23006699' stroke='%23006699' stroke-linecap='round' stroke-miterlimit='10' stroke-width='.6' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z'/%3E%3C/svg%3E") !important;
  padding-left: 1.5rem !important;
}
.nav-drawer-container .mdc-drawer-app-content:has(button.mdc-button) > div {
  display: flex;
  justify-content: flex-end;
  padding-right: 1.75em;
}
.nav-drawer-container:has(.nav-btn-hide) button {
  background-color: #ecf1f7 !important;
  z-index: 100;
}
.mat-drawer.mdc-drawer--open:not(.mdc-drawer--closing)+.mdc-drawer-app-content, .mdc-drawer.mdc-drawer--open:not(.mdc-drawer--closing)+.mdc-drawer-app-content {
  margin: initial !important;
}
.nav-drawer-container > aside, .nav-tabgroup-container .nav-list {
  background-color: #006699;
  color: #fff;
}
.nav-drawer-container > aside.mat-drawer, .nav-tabgroup-container .nav-list {
  width: 100%;
}
.nav-drawer-container > aside .nav-description, .nav-drawer-container > aside .nav-list, .nav-tabgroup-container .nav-list .nav-description, .nav-tabgroup-container .nav-list {
  padding: 0.7em;
}
.nav-drawer-container > aside .nav-description, .nav-tabgroup-container .nav-list .nav-description {
  background-color: rgba(0,0,0,.1);
  border-radius: 4px;
  grid-column: 1/-1;
  width: 100%;
}
.nav-drawer-container .nav-description {
  font-size: 0.8em;
  font-weight: 600;
  letter-spacing: 0.01em;
  line-height: 1.4em;
}
.nav-drawer-container .nav-description small {
  font-size: 1em;
  font-weight: normal;
}
.nav-drawer-container > aside .nav-list, .nav-tabgroup-container .nav-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1.3em;
  margin: 0 auto;
}
.nav-drawer-container > aside .nav-list ul li, .nav-tabgroup-container .nav-list ul li {
  margin: 0.7em 0;
}
.nav-drawer-container > aside .nav-list h4, .nav-tabgroup-container .nav-list h4 {
  border-bottom: 2px solid #fff6;
  display: inline-block;
  font-weight: 600;
  font-size: 0.9em;
}
.nav-drawer-container > aside .nav-list ul, .nav-tabgroup-container .nav-list ul {
  font-size: 0.9em;
  font-weight: normal;
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}
.nav-drawer-container > aside .nav-list ul li a, .nav-tabgroup-container .nav-list ul li a {
  color: #fff;
  text-decoration: underline;
  text-decoration-color: transparent;
  transition: 0.2s all ease;
}
.nav-drawer-container > aside .nav-list ul li a:hover, .nav-tabgroup-container .nav-list ul li a:hover {
  text-decoration-color: #fff;
}
/* Main Nav Mobile Accordion */
.mat-accordion:has(.nav-list) {
  border-top: 1px solid rgba(0,0,0,.2);
  margin-top: 3.5em;
}
.mat-accordion .mat-expansion-panel:has(.nav-list) {
  background-color: transparent;
  border-bottom: 1px solid rgba(0,0,0,.2);
  box-shadow: none;
}
.mat-expansion-panel__content:has(.nav-list) {
  background-color: #005580;
}
.mat-accordion:has(.nav-list) .mat-expansion-panel__summary .after {
  font-size: 1.85em !important;
  -webkit-text-stroke: 0.02em #006699;
}
/* Default Accordion Overrides */
.mat-accordion .mat-expansion-panel.mat-expansion-panel--expanded {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.mat-accordion .mat-expansion-panel__summary {
  height: 60px !important;
}
.mat-expansion-panel__header {
  flex-basis: 50% !important;
  font-size: 1em !important;
}
/* Hero */
#hero {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00a0af !important;
  background: url("https://www.flhealthcharts.gov/charts/images/hero-bg1.png") center;
  background-position: top center;
  background-size: 2000px;
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;
  padding: 1em 0;
  margin: 50px 0 200px 0;
  z-index: 99;
  transition: 0.3s;
}
#hero:before {
  content: "";
  background-color: #008ca0;
  background: rgb(0,140,160);
  background: -moz-radial-gradient(circle, rgba(0,140,160,0.7) 0%, rgba(0,140,160,1) 60%, rgba(0,140,160,1) 90%);
  background: -webkit-radial-gradient(circle, rgba(0,140,160,0.7) 0%, rgba(0,140,160,1) 60%, rgba(0,140,160,1) 90%);
  background: radial-gradient(circle, rgba(0,140,160,0.7) 0%, rgba(0,140,160,1) 60%, rgba(0,140,160,1) 90%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00b4cc",endColorstr="#008ca0",GradientType=1);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  opacity: .5;
  mix-blend-mode: overlay;
}
#hero h1 {
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-size: 48px;
  font-variant: lining-nums;
  font-weight: 700;
  text-align: center;
}
#hero p {
  font-family: "Open Sans", sans-serif;
  width: 80%;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
  margin: 0 auto 30px auto;
  color: #fff;
}
#hero .btn-get-started {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 14px;
  font-variant: lining-nums;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 32px;
  border-radius: 50px;
  transition: 0.5s;
  line-height: 1;
  margin: 10px;
  color: #fff;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  border: 2px solid #ffa927;
}
#hero .btn-get-started:hover {
  background: #ffa927;
  color: #fff;
  text-decoration: none;
}
/* Hero Inner */
#hero.inner {
  min-height: 200px;
}
#hero.inner h1 {
  margin-top: 100px;
  margin-bottom: -30px;
  font-size: 1.85em;
  font-weight: bold;
  text-shadow: 0px 2px 20px rgba(0, 102, 153, 0.75);
  text-align: center;
}
/* Hero Search Bar */
#hero .herosearch {
  width: 840px;
  margin: 0 auto;
  text-align: center;
  padding-top: 40px;
}
#hero .herosearch div {
  color: #fff;
  position: relative;
  padding: 30px;
}
#hero .herosearch div h1 {
  text-shadow: 0px 2px 20px rgba(0, 102, 153, 0.75);
  font-size: 2em;
  font-weight: bold;
}
#hero .herosearch div p {
  text-shadow: 0px 1px 10px rgba(0, 102, 153, 1);
  font-size: 1.15em;
  font-weight: 600;
  line-height: 1.2em;
  width: 60%;
}
#hero .herosearch form {
  box-shadow: 0px 2px 10px 8px rgba(0, 102, 153, 0.15);
  margin-top: 30px;
}
#hero .herosearch form input[type=search] {
  width: 100%;
}
/* Breakpoint and Down - Hero Styles */
@media (min-width: 1024px) {
  #hero p {
    width: 60%;
  }
}
@media screen and (max-width: 991px) {
  #hero .herosearch div {
    padding: 30px 70px;
  }
  #hero .herosearch div h1 {
    font-size: 1.8em;
  }
  #hero .herosearch div p {
    font-size: 1em;
  }
}
@media screen and (max-width: 768px) {
  #hero .herosearch div h1 {
    font-size: 1.7em;
  }
  #hero .herosearch div p {
    width: 90%;
  }
}
@media screen and (max-width: 414px) {
  #hero .herosearch div h1 {
    font-size: 1.5em;
    width: 100%;
  }
  #hero .herosearch div p {
    width: 100%;
  }
  #hero .herosearch form.roundsearchbar input[type=submit] {
    background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 8 8' style='enable-background:new 0 0 8 8;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:none;stroke:%23FFFFFF;stroke-width:0.6;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;%7D .st1%7Bfill:none;stroke:%23FFFFFF;stroke-width:0.9;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;%7D%0A%3C/style%3E%3Ccircle class='st0' cx='3.5' cy='3.5' r='2'/%3E%3Cline class='st1' x1='5.1' y1='5.1' x2='6.5' y2='6.5'/%3E%3C/svg%3E");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 1.9em;
    padding: 0 2em;
    text-indent: -999em;
	}
}
/* Round Search Bar */
form.roundsearchbar {
  background: #fff;
  border-radius: 50px;
  height: 45px;
  position: relative;
  overflow: hidden;
}
form.roundsearchbar input[type=search] {
  border: 0;
  border-radius: 50px;
  height: 45px;
  padding-left: 1.3em;
  text-align: left;
}
form.roundsearchbar input[type=submit] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  font-weight: 600;
  padding: 0 25px;
  margin: 3px;
  background: #ffa927;
  color: #fff;
  transition: 0.3s;
  border-radius: 50px;
}
form.roundsearchbar input[type=submit]:hover {
  background: #f68e1e;
}
form.roundsearchbar:has(input.form-control:focus) {
  outline: 5px solid #fff4 !important;
  transition: all 0.1s ease;
}
/* Add some breathing room to mobile search bar */
form.form-inline.roundsearchbar {
  width: 85% !important;
}
/* Switch Placeholder Text */
form.roundsearchbar input[type=search]:focus + .switch-text {
  display: none;
}
.switch-text {
  background-color: #fff;
  border: none;
  border-radius: 50px;
  color: #6c757d;
  display: flex;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 45px;
  width: 100%;
}
.switch {
  display: flex;
  flex-direction: column;
  font-style: normal;
  justify-content: center;
  padding-left: 1.3em;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  animation: changeword 12s ease infinite;
}
.switch:nth-child(1) {
  animation-delay: 0s;
}
.switch:nth-child(2) {
  animation-delay: 3s;
}
.switch:nth-child(3) {
  animation-delay: 6s;
}
.switch:nth-child(4) {
  animation-delay: 9s;
}
@keyframes changeword {
  0% {
    transform: translateY(-40px);
    opacity: 0;
  }
  2% {
    opacity: 0.8;
    transform: translateY(0);
  }
  20% {
    opacity: 1;
    transform: translateY(0);
  }
  30% {
    opacity: 0;
    transform: translateY(0);
  }
  80% {
    opacity: 0;
    transform: translateY(0);
  }
}
